@charset "UTF-8";

body {
  background-image: url(~@/assets/images/login.jpg);
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: center center;
  background-color: #3a1d1d44;
  background-blend-mode: overlay;

  /* 브라우저 호환성 */
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -ms-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

/* form-section 스타일 */
#form-section {
  padding-top: 150px;
  margin: 0 auto;
  text-align: center;
}

@media (min-width: 351px) {
  #form-section {
    width: 350px;
  }
}

#form-section .container {
  background-color: #80848ccc;
  padding-bottom: 15px;
  padding-top: 15px;
  border-radius: 10px;
}

#form-section .heading {
  color: #f2f2f2;
}

#form-section .form-group {
  margin-bottom: 15px;
}

#form-section .form-group input,
#form-section .form-group textarea {
  padding: 10px 15px;
}

#form-section .form-group p {
  font-size: 12px;
  color: #f2f2f2;
  text-align: left;
}