@charset "UTF-8";

body {
  -webkit-touch-callout: none; /* iOS Safari */
  -webkit-user-select: none; /* Safari */
  -khtml-user-select: none; /* Konqueror HTML */
  -moz-user-select: none; /* Firefox */
  -ms-user-select: none; /* Internet Explorer/Edge */
  -o-user-select: none;
  user-select: none;

  overflow-x: hidden;
  font-family: "Noto Sans KR", Helvetica, sans-serif;
  background-color: #212121;
  font-size: 17px;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: 700;
}

h1,h2 {
  font-family: Montserrat, Helvetica, sans-serif;
}

a {
  color: #f2f2f2;
  text-decoration: none;
}

a:hover {
  color: #a6978f;
}